*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background: url("../Imagenes/pexels-pixabay-40568.jpg");
    background-size: cover;
}
.header{
    width: 100%;
    height: 80px;
    background: #01711ba6;
    position: fixed;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.menu{
    float: right;
    line-height: 80px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.li{
    font-weight: bold;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
}
.menu a{
    font-weight: bold;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    transition: all 500ms ease;
}
.menu .submenu a{
    color: #252525;
}
.menu a:hover{
    background: #04B404;
    color: #fff;
}
.menu .submenu{
    background: #fff;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu .submenu li a{
    line-height: 50px;
}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}
/*estilos para la portada*/
.portada{
    width: 100%;
    height: 100%;
    background: url("../Imagenes/pexels-pixabay-40568.jpg");
    background-size: 100vw 100vh;
}
.logo{
    background: url();
    width: 10%;
    padding: 13px 10px;
    float: left;
    line-height: 80px;
}